* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    margin: 20px;
    font-family: "Manrope";
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .left-content {
    flex: 3;
    margin-right: 20px;
  }
  
  .right-content {
    flex: 1;
    position: sticky;
    top: 20px; /* Adjust this value as needed */
    height: fit-content; /* Ensure it does not stretch to full height */
  }
  
  .welcome-image {
    width: 100%;
    height: auto;
  }
  
  .tab-menu {
    display: flex;
    margin-top: 20px;
  }
  
  .tab-link {
    flex: 1;
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
  }
  
  .tab-link.active {
    background: #ddd;
  }
  
  .tab-content {
    margin-top: 20px;
  }
  
  .event-details, .hosted-by {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .buy-now, .official-website {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .buy-now {
    background: #007bff;
    color: #fff;
  }
  
  .official-website {
    background: #28a745;
    color: #fff;
  }
  
  .contact-icons a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .speaker-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: start;

  }

  .workshop-img-container{
    width: 25%;
    border-radius: 8px;
    border: 0.8px solid rgb(202, 202, 202);
  }

  .ticket-cards-container{
    max-width: 720px;
    padding: 32;
    margin: 32;
    background: #f6f6fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto
  }


  .buy-now-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .buy-now-button:hover {
    background-color: #333;
  }

  .official-website-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #fff;
    color: #000;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .official-website-button i {
    margin-left: 8px;
  }
  
  .official-website-button:hover {
    background-color: #f8f8f8;
  }